/.metadata/
29 - Audio Signal Processing/.vscode/settings.json
28 - Databases - PostgreSQL/Src/database.ini
/30 - SerialTerminal-and-Parser/env
/30 - SerialTerminal-and-Parser/PythonTerminal-master
/34 - Modem Configuration/env
